Repository botagas/botagas-Cogs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, core, ci, config

.github/labeler.yml:

documentation:
  - "docs/**"
  - "**/*.md"

tests:
  - "tests/**"

core:
  - "roomer/**"
  - "captcha/**"

ci:
  - ".github/workflows/**"

config:
  - "**/*.yml"
  - "**/*.yaml"
  - ".github/**/*.yml"
  - ".github/**/*.yaml"

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Fix permission issues for regular users
  roomer/roomer.py
Labels: core

Fix perms
  roomer/roomer.py
Labels: core

Style Reformatting
  roomer/roomer.py
Labels: core

Update claim room to change owner perms
  roomer/roomer.py
Labels: core

Fix permit/forbid owner fetching
  roomer/roomer.py
Labels: core

Pass channel_owners in view
  roomer/roomer.py
Labels: core

Properly pass owners via button trigger
  roomer/roomer.py
Labels: core

Style Reformatting
  roomer/roomer.py
Labels: core

Add reminders for claiming the room
  roomer/roomer.py
Labels: core

Store reminder message IDs
  roomer/roomer.py
Labels: core

Change display of the preset list
  roomer/roomer.py
Labels: core

Add ownership check on channel presets
  roomer/roomer.py
Labels: core

Add files via upload
  captcha/LICENSE
Labels: core

Add files via upload
  roomer/LICENSE
Labels: core

fix button persistence after restart
  README.md
  captcha/core.py
  captcha/views.py
Labels: documentation, core

Style Reformatting
  captcha/core.py
  captcha/views.py
Labels: core

attempt to fix perms
  roomer/roomer.py
Labels: core

Style Reformatting
  roomer/roomer.py
Labels: core

logging
  roomer/roomer.py
Labels: core

Style Reformatting
  roomer/roomer.py
Labels: core

fix for permission issue on creation for roomer
  roomer/roomer.py
Labels: core

Style Reformatting
  roomer/roomer.py
Labels: core

Update install msg and description
  roomer/info.json
Labels: core

Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: ci, config

Enhance info.json with slash commands details
  roomer/info.json
Labels: core

Add RoomAnnounce companion cog
  .github/workflows/tests.yml
  README.md
  pytest.ini
  roomannounce/LICENSE
  roomannounce/__init__.py
  roomannounce/info.json
  roomannounce/models.py
  roomannounce/providers.py
  roomannounce/roomannounce.py
  roomannounce/views.py
  roomer/info.json
  roomer/roomer.py
  tests/test_roomannounce_models.py
  tests/test_roomannounce_providers.py
Labels: documentation, tests, core, ci, config

Fix Roomer preset synchronization
  roomannounce/models.py
  roomannounce/roomannounce.py
  roomer/roomer.py
  tests/test_roomannounce_models.py
Labels: tests, core

Improve announcement metadata diagnostics
  README.md
  roomannounce/models.py
  roomannounce/providers.py
  roomannounce/roomannounce.py
  tests/test_roomannounce_providers.py
Labels: documentation, tests

Refine room announcement embed layout
  roomannounce/roomannounce.py
Labels: none

Support per-source announcement channels
  README.md
  roomannounce/models.py
  roomannounce/roomannounce.py
  roomer/roomer.py
  tests/test_roomannounce_models.py
Labels: documentation, tests, core

Add active hours and announcement RSVP
  .github/workflows/tests.yml
  README.md
  roomannounce/info.json
  roomannounce/models.py
  roomannounce/roomannounce.py
  roomannounce/views.py
  tests/test_roomannounce_interactions.py
  tests/test_roomannounce_models.py
Labels: documentation, tests, ci, config

Refine RSVP layout and add voice link
  README.md
  roomannounce/roomannounce.py
  roomannounce/views.py
  tests/test_roomannounce_interactions.py
Labels: documentation, tests

Rename voice channel link to Connect
  README.md
  roomannounce/views.py
  tests/test_roomannounce_interactions.py
Labels: documentation, tests

Respect hidden and locked Roomer channels
  README.md
  roomannounce/models.py
  roomannounce/roomannounce.py
  roomannounce/views.py
  tests/test_roomannounce_interactions.py
  tests/test_roomannounce_models.py
Labels: documentation, tests

Add monitored static voice announcements
  README.md
  roomannounce/info.json
  roomannounce/roomannounce.py
  roomannounce/views.py
  tests/test_roomannounce_interactions.py
Labels: documentation, tests

Shorten provider game descriptions
  README.md
  roomannounce/models.py
  roomannounce/roomannounce.py
  tests/test_roomannounce_interactions.py
  tests/test_roomannounce_models.py
Labels: documentation, tests

Rename room size field to In Room
  README.md
  roomannounce/roomannounce.py
  tests/test_roomannounce_interactions.py
Labels: documentation, tests

Auto-hide empty announcement channels
  README.md
  roomannounce/roomannounce.py
  tests/test_roomannounce_interactions.py
Labels: documentation, tests
